* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  margin: 0;
  line-height: 1.5;
}

.grid {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 1rem;
  padding: 1rem;
}

p {
  margin: 0;
  padding: 1rem;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: #3398cc;
}
main {
  background-color: #976698;
}

.grid div {
  background-color: #8494a4;
}

footer {
  background-color: #33cacb;
}
